@import "mixins.scss";
@import "variables.scss";
 
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 
  

body{
  font-family: $comforta; margin:0px; padding:0px; font-size: $fntSize16; color:$black2;
}
h1,h2,h3,h4,h5,h6,p, div, ul, li,span{ font-family: $comforta;  color:$black2;}
h1{ 
   font-size:$fntSize50;font-weight:700; font-family: $comforta; color:$black; margin-bottom: 20px;
   @include tab{
    font-size:$fntSize40;
   }
}
 ul{list-style: none; margin:0px; padding:0px;
  li{
    list-style: none; margin:0px; padding:0px;
  }
 }
.btnblue{ 
  background: #359230; color:$white!important; font-size: $fntSize18; padding:8px 30px; text-decoration: none; border-radius: 50px;
  &:hover{
    background: #186614; color:$white!important;
  }
} 
/*********** head ****************/
.bodytoppart{
   background-size: contain;


header{position: relative; width: 100%; background:#1B93CE; z-index: 99;
  @include tab{
    position: relative; 
  }
  .topbox{
    background: #545252; padding:4px 0px;
    ul{ display: flex; flex-direction: row; justify-content: flex-end;
      li{
        display: flex; flex-direction: row; justify-content: flex-start; margin:0px 15px;
        a{text-decoration: none;}
        .socialbox{
          a{ width: 23px; height: 23px;  display: inline-block;         
            img{
              max-width: 100%;
            }
          }
        }
        
        .phone{
          color:$white; font-size: 14px; white-space: nowrap;
        }
        .email{
          a{
            color:$white; font-size: 14px; text-decoration: none;
          }
        }
        .btngetQuote{
          white-space: nowrap;  color:$white; font-size: 13px; text-decoration: none;
          background: #1B93CE; width: auto; height: auto; display: flex; flex-direction: row; justify-content: center; align-items: center;
          padding:3px 15px; border-radius: 30px;
          &:hover{
            background: #1B93CE;
          }
        }

        @include phone{
          margin: 0px 5px;
          .phone{
            font-size: 0px;
          }
           .email{
           a{ font-size: 0px;}
          }
        }
      }
    }
    @include mini-desktop{
      .topboxcnt{
        display: flex; flex-direction: row; justify-content: center; align-items: center;
        ul{
          display: flex; flex-direction: row; justify-content: center; align-items: centers;
        }
      }
    }

  
  }
  .headermain{ padding:0px 0px;
    .logo{ background: #ffffff; padding:5px 30px 5px 20px; max-width:200px;
      text-align: center;
      img{
        max-width:100%;
      }
      @include mini-desktop{
        margin:0px auto;
      }
      @include phone{
        margin:0px; max-width: 100px;padding:5px 30px 5px 20px;
        img{
          max-width:65px;
        }
      }
    }
    .navigationmain{
      @include dispflex(flex,row,flex-end,center); height:100%;
      .navileft{
        nav{
          .navbar-nav{
            li{
              a{
                color:$white; font-family: $comforta; font-size: $fntSize18; text-decoration: none; padding:8px 15px;
                font-weight:500;
                &:hover,&.active{
                  color:$black;
                }
               
                @include tab_992{
                  padding:8px 8px;
                }
                @include tab{
                  padding:8px 8px; 
                }
              }
            }
          }
        }
      }
      @include mini-desktop{
        justify-content: center;
      }
      .naviright{
        a{
          background: #033baf; color:$white; font-size: $fntSize18; padding:8px 30px; text-decoration: none; border-radius: 50px;
          &:hover{
            background: #333333; color:$white;
          }
        }
      }
      
      @include phone{
        .navileft{
          nav {
            position: absolute!important; top:0px!important; right:0px!important; width: 100%;
            button{
              position: absolute; right: 15px; top:10px; background:transparent!important; outline: none!important;
              border: 0px!important;
            }
            img{
              max-width: 100%;
            }
            #navbarCollapse{
              background: #c98e2d; margin-top:80px; z-index: 99;
              .navbar-nav{ margin:15px 0px;
                li{ border-bottom: 1px solid #a8721c;
                  a{ padding: 12px 10px;color:$white; font-size: $fntSize15;
                    &.active{
                      color:$white;
                    }
                  }
                }
              }
            }
          }
          
        }
      }
    }
  }

 
}
.homeslider{ height: 100%; border:0px solid #ccc; width: 100%; position: relative;
 .bannercntbox{
  position: absolute; top:0px; width:100%; height: 100%; display: flex; flex-direction: column;
  justify-content: center; align-items: flex-start;
  @include phone{
    background:rgba(255,255,255,0.5); display: none;
  }
 }
  .bannerimg{
    img{
      max-width: 100%; width: 100%;
      @include phone{  
      }
    }
  }
  .bennertext{
    height: 100%; @include dispflex(flex,column, center,flex-start); font-family:$raleway; 
    background: rgba(0,0,0,0.5);  padding:20px 40px;
    h3{font-weight: 800; font-size: 60px; color:$white; line-height: 60px; margin: 20px 0px 20px; display: block;font-family:$raleway; 
      span{ 
        color:$white!important;  font-family:$raleway; 
      }   
    }
    p{color:$white!important;}
    h6{font-size: 25px; font-weight: 400; margin-bottom: 0px;}
    a{
      background: #41903d; padding:8px 40px; border-radius: 50px; text-decoration: none; color:$white;
      &:hover{
        background: #2e7a2a;
      }
    }

    @include phone{
      p{display: none;}
    }
   
  }

  @include tab{
     padding-bottom: 50px;
    .bennertext{
      h3{
        font-size:30px;  line-height:35px;
      }
      h6{font-size: 20px;}
      a{
        padding:6px 18px; font-size: 14px;
      }
    }
  }
  @include phone{
    .bennertext{
    h3{
      font-size:24px;  line-height:28px; margin-bottom: 12px;
    }
    h6{font-size: 20px;}
  }
  }
  .slick-dots{
    margin:0px 0px 0px 0px; padding: 0px; list-style-type: none; position: absolute; bottom:25px;
    display: flex; flex-direction: row; justify-content: center; width: 100%;
    li{
      margin:0px 2px; padding: 0px; 
      button{
        width: 15px; height: 15px; border-radius: 50px; border:1px solid #ccc; background: #ffbc3b; font-size: 0px;
      }
      &.slick-active{
        button{
          background:#1B93CE;
        }
      }
    }
  } 
}
}
 

.buttonarea{
  display:flex; flex-direction: row; justify-content: flex-start; align-items: center; margin-top: 30px;
  &.centeralign{
    justify-content: center;
    .btnblue{ margin-top: 20px;     
    }
  }
  .btnblue{
    background: #41903d!important; border-radius: 40px; padding:8px 30px; color:$white; font-size: $fntSize13;
    &:hover{
      background: #2e7a2a!important;
    }
  }
}

 .sectionpadding{
  padding:60px 0px;
  @include tab{
    padding:40px 0px;
  }
 }
 .welcomecnt{  margin: 0px auto;
  &.sectionpadding{
    padding-bottom: 0px;
  }
  .welcomecntcnt{
text-align: center; padding-bottom: 70px;
  }
  .btnorange{
    background: #C98E2D;
    color: #ffffff;
    padding: 8px 20px 10px;
    border-radius: 40px;
    text-decoration: none; margin-top:10px; display: inline-block;
    &:hover{
      background: $black;
    }
  }
  p{
    font-weight: 400; line-height:$fntSize28;
  }
  .imgwelcome{ height: 100%; display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end;
    img{
      max-width: 100%;
    }
  }
  h1{color:#1a1a19;}
  
  .buttonarea{
    display:flex; flex-direction: row; justify-content: flex-start; align-items: center; margin-top: 30px;
    .btnblue{
      background: #41903d!important; border-radius: 40px; padding:8px 30px; color:$white; font-size: $fntSize13;
      &:hover{
        background: #2e7a2a!important;
      }
    }
  }

 }
 
.lightblue{
  background:url(../images/img_serviceback.jpg) no-repeat center top; background-size: cover;
  &.lifedetilpage{
    background: #f5f5f5!important;
  }
  h1{
    color:#1a1a19;  margin:0px auto 20px; 
  }
  p{
    max-width: 900px; color:$black; margin: 0px auto 30px; text-align: center;
  }
  .whitebox{
    background: $white; border-radius: 15px; overflow: hidden; box-shadow: 0,0,5,rgba(0,0,0,0.8); 
    margin: 20px 10px 0px; display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;
    .imgbox{width: 100%;}
    h3{
      margin:15px 0px 10px;   font-size: $fntSize18; width: 100%; text-align: left;
      font-family:$raleway; font-weight: 600; padding: 5px 15px; text-align: center;
    }
    p{ 
      color:#333333; text-align: left; font-size: $fntSize14; padding:0px 15px; text-align: center;
      padding-bottom: 15px;
    }
    a{margin-top: 30px;} 
    img{width: 100%;}
    
  }
}
.servicesbox{
  .servicessection {
    margin-top:10px;
  }
 .customer_text{
  display: flex; flex-direction: column; justify-content: center; align-items: center;
 }
  h1{color:#1a1a19;}
  p{
    max-width:920px; margin:30px auto 40px; text-align: center;
  }
  .customername{font-weight: bold;}
  .servicecntbox{ display: flex; flex-direction: column; justify-content: flex-start; align-items: center;  
    border:1px solid #ccc; border-radius: 15px; box-shadow: 0px 0px 5px rgba(0,0,0,0.3); margin-bottom: 15px;
    padding:35px 20px; margin:50px 20px 15px;transition: ease all 0.5s;
    p{max-width: 90%; margin: 0px auto; font-size: $fntSize16;}
    h3{margin-top:20px; margin-bottom: 10px; color:#000; font-size:$fntSize23; text-align: center; min-height: 55px;}
     


    
    p{text-align: center; min-height:105px;}
 
    

    

  }
  .slick-dots{
    list-style-type: none; margin:20px 0px 0px; padding:0px; width: 100%;
    display: flex; flex-direction: row; justify-content: center;
    li{ margin:0px 3px;
      button{
        width: 15px; height: 15px; border-radius: 20px; font-size: 0px; border:0px;
      }
      &.slick-active{
        button{
        background:#e49008;
        }
      }
    }
  }
}


input[type="date"]::-webkit-calendar-picker-indicator {
  //display: none;
  //-webkit-appearance: none;
  width: 15px;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
}


#intercity{
  ul{ margin:0px; padding:0px;
    li{ margin:0px 15px 15px 0px; padding:0px;

    }
  }
}

[type="radio"]:checked,
        [type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px;
        }
        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label
        {
            position: relative;
            padding-left: 28px;
            cursor: pointer; font-size: $fntSize15;
            line-height: 20px;
            display: inline-block;
            color: #333;
        }
        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            border: 1px solid #333333;
            border-radius: 100%;
            background: #fff;
        }
        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
            content: '';
            width: 12px;
            height: 12px;
            background: #f19383;
            position: absolute;
            top: 3px;
            left: 3px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        [type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        [type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        .select2-container--default .select2-selection--single{
          border-color: #ced4da!important;
        }  

    .pinkback{
      background-color: #ffedea; padding:70px 0px;
      h5{
        color:#000000; font-size: $fntSize20; text-align: center;
      }
      h1{
        text-align: center;  margin-bottom: 35px;
      }
      .quickbox{
        @include dispflex(flex,column,center,center);    
        .iconbox{
          background: $white; width:90px; height:90px; border-radius: 80px;  @include dispflex(flex,column,center,center);  
          img{max-width: 80%;}  
        }
        h3{
          margin:25px 0px 15px; font-size: $fntSize26; font-weight: 700;
        }
        p{font-size: $fntSize18; text-align: center;}

        @include tab{
          h3{
            text-align: center;
          }
        }
    }
  }
 
.slider-nav{ position: relative;
  .slick-arrow{ width: 40px; height: 40px; border:0px; font-size: 0px;
    &.slick-prev{
      position: absolute; top:25px; z-index: 99; background: url(../images/arrow_left.png) no-repeat left top;
      background-size: contain; left:-60px;
    }
    &.slick-next{
      position: absolute; top:25px; z-index: 99; right: 0px;
      background: url(../images/arrow_right.png) no-repeat left top;
      background-size: contain; right:-60px;
    }
     
    @include tab{
      &.slick-prev{
        left:-25px;
      }
      &.slick-next{
        right:-25px;
      }
    }
    @include phone_767{
      &.slick-prev{
        left:-5px;
      }
      &.slick-next{
        right:-5px;
      }
    }
  }

}


.testimonialsbox{
  background: url(../images/img_grayback.jpg) no-repeat center top; background-size: cover;
  h1{color:#1a1a19;}
  p{
     max-width: 520px; margin:0px auto; text-align: center; color:#333333;
  }
  .testimonialsslider{
   
    .testiimg{
      width: 100px; height: 100px; margin:35px auto 20px; display: block; border-radius: 100px; overflow: hidden;
      border:5px solid #3366cc;
    }
    .testitext{ @include dispflex(flex,column,flex-start, center); max-width: 850px;position: relative; margin:0px auto;
     
      &:before{
        content: ''; top:0px; left:0px; display: block; width:56px; height: 49px; position: absolute;
    

        @include tab{
          position: relative;
        } 
      }
      p{
        max-width: 700px; font-weight: 500; font-style: italic;
        @include tab{
          margin-top:20px;
        } 
      }
    }
    .authot{
      margin:30px 0px; display: flex; flex-direction: column; justify-content: center; align-items: center;
      .name{
        font-size: $fntSize18; color:#000; text-align: center; font-weight: 600;
      }
      .city{font-size: 14px;}
    }
  }
  .slick-dots{
    list-style-type: none; margin:0px; padding:0px; width: 100%;
    display: flex; flex-direction: row; justify-content: center; border:0px solid #ccc;
    li{ margin:0px 3px;
      button{
        width: 15px; height: 15px; border-radius: 20px; font-size: 0px; border:0px; background: #555454;
      }
      &.slick-active{
        button{
        background:#3a6dd8;
        }
      }
    }
  }
  
}  
 
.callbacksection{
  background:#ffbc3b;
  &.sectionpadding{
    padding:40px 0px;
  }
  .ctabox{
    height: 100%; display: flex; flex-direction: row; justify-content:space-between; align-items: center;
    a{
      font-size: $fntSize20; padding:12px 45px;
    }
    @include mini-desktop{
      flex-direction: column;
    }
  }
  h1{color:#1a1a19; margin-bottom: 0px; font-size: $fntSize44; 
  @include phone{
    margin-bottom:20px; font-size: $fntSize30;
  }
  }
  p{
     max-width:700px; margin:0px auto; text-align: center; color:#1a1a19;
  }
  .requestform{
    display: flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 35px;
    ul{
      display: flex; flex-direction: row; justify-content: center; align-items: center;
      list-style-type: none; margin:0px; padding: 0px;
      li{
        margin:0px 10px;
        .btnsubmit{
          background: #494848!important; color:$white; padding:6px 25px;
        }
      }
    }
    @include phone{
      ul{
        display: flex; flex-direction: column; width: 80%;
        li{
          width: 100%; margin-bottom: 15px;
        }
      }
     
    }
  }
}
 
.footerarea{
  background: #2e2e2e; padding:70px 0px 10px;
  @include tab{
    padding-bottom: 25px;
  }
  h4{
    color:$white; margin-bottom: 15px; font-weight: 700;
  }
  p{color:#e2e2e2; font-size: $fntSize13; padding-right:50px;}
  ul{ margin:0px; padding: 0px; list-style-type: none;
    li{
      margin:0px; padding: 0px;
      a{
        color:#f1f1f1; text-decoration: none; font-size: $fntSize14;
        @include phone{
          padding:7px 0px; width: 100%; display:inline-block;
        }
      }
    }
  }
  .timebox{
    p{margin-bottom: 0px;}
    @include phone{
      margin: 20px 0px 30px;
    }
  }
  .btnred{
    background: #e49008; color:$white; font-size: $fntSize13;
    &:hover{
      background: #865405;
    }
  }
  .form-control{font-size: $fntSize14; margin-bottom: 10px;}
  .copyrightbox{ border-top:1px solid #7a7a7a; margin-top:40px; padding-top:30px;
    p{
      color:#7a7a7a; font-size: 12px;
      @media screen and (max-width:767px){
        text-align: center; padding-right: 0px;;
      }
    }
  }

  .footermenu{
    display: flex; flex-direction: row; justify-content: space-between;
    ul{
      display: flex; flex-direction: row; justify-content:flex-start; align-items: center;
      li{
        a{
          padding:3px 10px; font-size: $fntSize16;
          &:hover, &.active{
            color:#e49008;
        }
        }
         
      }

      @include phone{
        justify-content: space-between; flex-wrap: wrap;
        li{
          width: 45%;
        }
      }
    }
    .socialbox{
      a{
        img{
          width:30px; height:30px;
        }
       
      }
    }
    @include phone{
      flex-direction: column; 
      .socialbox{
        margin-top: 25px;
      }
    }
  }
}

.innerbanner{  position:relative; 
  .innerbanner_img{
    display: flex; flex-direction: row; justify-content: flex-end;
    
  }
  img{
    width: 100%;
  }
  .innerbannertext{
    height: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center;
    position:absolute; top:0px; left:0px; width: 100%;
    h1{ 
      font-size: 50px; font-weight: 700;
    }

    @include phone{
      margin-top:2px;
      h1{
        font-size:30px; font-weight: 700;
      }
  
    }
  }
}   

.innercontainer{ min-height: 500px;
  h2{
    margin-top: 40px; margin-bottom: 20px;
  }
  .vsbox{
    border:1px solid #ccc; border-radius: 15px; padding:25px;  min-height: 150px;
    margin:25px 0px; background: #f2f2f2; min-height: 215px;
    &.missionbox{
      background: #99b3e7;
    }

    h3{
      font-size: 20px; font-weight: 700;
    }
  }
}
.imgresponsive{
  max-width: 100%; margin-top: 40px;
}


.formbox{
  ul{
    margin:0px; padding:0px; list-style-type: none; display: flex; flex-direction: row; justify-content: space-between;
    flex-wrap: wrap;
    li{
      margin-bottom: 15px; width: 48%;
      &.wd100{
        width: 100%;
      }
      input.form-control{
        height: 50px;
      }

      .btnsubmit{
        background: #309306; color:#ffffff;
      }
      textarea{
        height: 150px; resize: none;
      }
      &:last-child{
        width: 100%;
        button{
          width: 100%; display: block; height:50px; font-size: 17px!important; font-weight: 600;
        }
      }

      @include phone{
        width: 100%!important;
      }
    }
  }
}

label.error{
  font-size: 12px; color:red;
}
.contactpage{
  h3{
    margin-bottom:20px;
    @include phone{
      margin-top: 25px; 
    }
  }
  .timing{ margin-top:35px;
    h3{
      font-size: 23px;
    }
  } 
}
.googlemap{
  margin-top:50px;
}
.textareabox{
  height: 150px; resize: none;
}
.phoneicon{ a{
  text-decoration:none; color:#333333;
}
  img{
    width: 25px; margin-right: 5px;
  }
} 

.locationboxs{
  display:flex; flex-direction: row; justify-content: flex-start; align-items: flex-start;
  img{
    width: 35px; margin-right: 5px;
  }
}
#emailempty{
  font-size: 12px; font-weight: 400; 
}

.lifedetilpage{
  .whitebox{
    justify-content: flex-start; align-items: flex-start;
    h5{font-size: 16px; font-weight: bold; width: 100%; text-align: left;}
    p{
      margin-bottom: 15px; width: 100%;
    }
    ul{ margin: 0px; padding: 0px;  
      li{
        font-size: 14px; margin-bottom: 5px; position: relative; display: flex; flex-direction: row; flex-wrap: wrap;
        justify-content:flex-start; align-items: flex-start; padding-left: 20px;
        &:before{
          content:''; width: 10px; height:10px; border:1px solid #fa9d29; margin-right: 10px;
          border-radius:50px; background:#fa9d29; margin-top:3px; position: absolute; left: 0; top:0px;
        }
      }
    }
  }
} 


.webdesignby{
  display: flex; flex-direction: row; justify-content: flex-end; align-items: center;  
  font-size: 12px; color:#7a7a7a;
@media screen and (max-width:767px){
  justify-content: center;
}
}
 .webdesignby  img{ 
    width: 40px; 
  }
 
