/**** font size ***/
@mixin font-size($size) {
    font-size:$size;
font-size: ($size / 16px) * 1rem;
}


@mixin box-shadow( $h: 10px , $v: 10px , $b: 0px , $s: 0px , $c: #000000 ) {
    -webkit-box-shadow: $h $v $b $s $c;
-moz-box-shadow: $h $v $b $s $c;
box-shadow: $h $v $b $s $c;
}

@mixin border-radius($pixel) {
    border-radius: $pixel;
  }
 

  @mixin button-bg($bg) {
    background: $bg;
    &:hover {
      background:darken($bg,8%);
      transition: all 0.3s ease;
    }
    &:active {
      background:darken($bg,25%);
    } 
  }
  


  @mixin dispflex($displayflex, $flexdirection, $justifycontent, $alignitems) {
    display: $displayflex; 
    flex-direction:$flexdirection;
    justify-content: $justifycontent; 
    align-items: $alignitems;
}



/************** responsive ********************/

 
@mixin large-desktop { 
  @media (min-width: 1921px) and  (max-width: 2400px){ @content; }
}
@mixin min-1920 {
  @media (min-width: 1920px)   { @content; }
}
@mixin big-desktop {
  @media (min-width: 1400px) and  (max-width: 1920px){ @content; }
}

@mixin desktop1440_1600 {
  @media (min-width: 1400px) and  (max-width: 1600px){ @content; }
}

@mixin desktop1200_1900 {
  @media (min-width: 1200px) and  (max-width: 1900px){ @content; }
}

@mixin desktop1366 {
  @media (min-width: 1320px) and  (max-width: 1399px){ @content; }
}

@mixin desktopmax1500 {
  @media (max-width: 1500px) { @content; }
}



@mixin desktopmax1366 {
  @media (max-width: 1366px) { @content; }
}

@mixin mini-desktop {
  @media (max-width: 1199px) { @content; }
}
@mixin tab_992 {
  @media (min-width: 992px) and  (max-width: 1024px){ @content; }
}

@mixin tab_min{
  @media (min-width: 992px) { @content; }
}
@mixin phone_767 {
  @media (min-width: 768px) and  (max-width: 991px){ @content; }
}
@mixin tab{
  @media (max-width: 991px) { @content; }
}
@mixin phone {
  @media (max-width: 767px) { @content; }
}
@mixin phone-xs {
  @media (max-width: 575px) { @content; }
} 
@mixin phone320 {
  @media (max-width: 360px) { @content; }
} 
