/********* color **********/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

$white:#ffffff;
$black:#000000;
$gray:#D2D2D2;
$gray2:#D4D4D4;
$gray3:#cccccc;
$gray4:#6D6D6D;
$gray5:#848688; 
$gray6:#737373;
$gray7:#E3E3E3;
$gray8:#EEECEC;
$gray9:#F4F7F9;
$gray10:#A1A1A1;
$red4:#E51E1E;
$red:#ED3237;
$red2:#c0181d;
$red3:#D91A1F;
$darkgray:#848688;
$black2:#434342; 
$lightyellow:#ffffe3;
$headingcolor:#303A6D;
$lightgray:#fefefe;
$lightblue:#EFF8FF;
$fntblue:#2B94E6; 

$comforta: "Inter", sans-serif;
$raleway: "Inter", sans-serif;

 //fontsize
 $fntSize10:0.6rem;
 $fntSize11:0.68rem;
 $fontSize11_1:0.7rem;
 $fntSize12:0.8rem;
 $fntSize13:0.865rem;
 $fntSize14:0.9rem; 
 $fntSize15:0.9rem;
 $fntSize16:1rem; 
 $fntSize16:1.063rem; 
 $fntSize17:1.063rem; 
 $fntSize18:1.1rem;
 $fntSize20:1.3rem;
 $fntSize21:1.313rem; 
 $fntSize22:1.375rem;
 $fntSize23:1.435rem;
 $fntSize24:1.5rem;
 $fntSize25:1.6rem;
 $fntSize26:1.625rem;
 $fntSize27:1.688rem;
 $fntSize28:1.8rem;
 $fntSize29:1.813rem;
 $fntSize30:1.87rem;
 $fntSize32:2rem;
 $fntSize36:2.25rem;
 $fntSize37:2.313rem;
 $fntSize38:2.75rem;
 $fntSize39:2.438rem;
 $fntSize40:2.5rem;
 $fntSize42:2.625rem;
 $fntSize44:2.75rem;
 $fntSize44:2.875rem;
 $fntSize48:3rem;
 $fntSize50:3.125rem;
 $fntSize56:3.5rem;
 $fntSize64:4rem;
 $fntSize72:4.5rem;
 $fntSize75:4.7rem;
 $fntSize80:5rem;
 $fntSize85:5.3137rem;
 $fntSize90:5.625rem;
 $fntSize95:5.938rem;
 $fntSize100:6.25rem;
 $fntSize110:6.875rem;
 $fntSize115:7.118rem;
 $fntSize120:7.5rem;
 $fntSize125:7.813rem;
 $fntSize130:8.125rem;
 $fntSize135:8.438rem;
 $fntSize140:8.15rem;